.historylistcontainer {
  display: flex;
}

.time {
  font-family: 'Roboto';
  color: #64748b;
  margin-right: 95px;
}

.socialmediaheading {
  font-family: 'Roboto';
  color: #475569;
}

.sociallinkparagraph {
  font-family: 'Roboto';
  color: #475569;
  margin-left: 9px;
}

.scoialmediaicon {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  margin-right: 14px;
}

.deleteicon {
  background-color: transparent;
  border-width: 0px;
  margin-left: auto;
}

.button {
  background-color: transparent;
  width: 20px;
  border-color: transparent;
}
